PORT=5000
MONGODB_URI=mongodb+srv://consolvestudio_db_user:fnEHPQc0gC1dNS3U@cys.biyeclf.mongodb.net/?appName=Cys
NODE_ENV=development
EMAIL_PASS=pzxuvnrivcunjvnu
EMAIL_USER=Consolvestudio@gmail.com



PRINTER_TRANSPORT=escpos-usb
PRINTER_VENDOR_ID=0x0483
PRINTER_PRODUCT_ID=0x5743
RECEIPT_CHAR_WIDTH=32
PRINTER_CURRENCY_SYMBOL=P
STORE_NAME=CreateYourStyle
STORE_ADDRESS=Pasonanca, Zambonaga City


ENCRYPTION_SECRET=6e09b4e4f8b18e3a1d367a49fe42fbdae6d107c266c8922bf88853b007a7ca6a


PAYMONGO_WEBHOOK_SECRET=whsk_aw2WCrQ1t2AAuFcHSfzx794c


WEBHOOK_BASE_URL=https://dilemmic-involutely-heather.ngrok-free.dev
